
<script type="text/javascript">
    var stockcount_ajax = {
        bandeau_actionnaires_url: '{U_STOCKCOUNT_BANDEAU_URL}',
        bandeau_actionnaires_refresh_delay: {S_STOCKCOUNT_REFRESH_DELAY}
    }
</script>

<style>
    .header {
        cursor: pointer;
     }

    .mchat-body {
        display:none;
    }




</style>

<!-- INCLUDEJS @jles_stockcount/collapsible_theme_adds.js -->

<!-- INCLUDEJS @jles_stockcount/bandeau-actionnaires-ajax.js -->



