
<!-- IF S_USER_LOGGED_IN and S_ACP_PHARM_DISPLAY_BANNER-->
<!-- INCLUDECSS @jles_stockcount/stockcount_main.css -->
<div id="bandeau_actionnaires" class="bandeau_actionnaires">
    <span>Notre forum possède: {S_NB_ACTIONNAIRES} {{ lang('STOCK_HOLDERS') }} - {S_NB_ACTIONS} {{ lang('SHARES') }} - {S_PERCENT_SHARE}% {{ lang('OF_TOTAL_CAPITAL') }}</span>
</div>
<!-- ENDIF -->

