<!-- INCLUDE overall_header.html -->
<h1>{L_ACP_HOLDERS_TITLE} - {TOTAL_HOLDERS} enregistrement(s)</h1><br/>
<p>Différence = nombre d'actions ajoutées/retirées depuis l'avant-dernière édition.</p>
<p>Date édition = Date de la dernière édition du nombre d'actions par chaque actionnaire.</p>
<p style="font-style: italic; ">Attention ne sont comptabilisés que les membres ayant coché la case "Je possède
    actuellement des actions Pharming" (déclaratif)</p>
<br/><br/>

<table class="table1 fixed-width-table" style="width: 50%">
    <thead>
    <tr>
        <th>STATISTIQUES</th>
        <th>Valeur</th>
    </tr>
    </thead>
    <tr class="row1">
        <td class="col1">Nombre total de membres enregistrés </td>
        <td class="col2"><strong>{S_TOTAL_USERS}</strong></td>
    </tr>
    <tr>
        <td class="col1">Nombre d'actionnaires déclarés</td>
        <td><strong>{S_TOTAL_HOLDERS}</strong></td>
    </tr>
    <tr>
        <td class="col1">Ratio Actionnaires/Membres</td>
        <td><strong>{S_RATIO_HOLDERS_VS_USERS}</strong></td>
    </tr>
    <tr>
        <td class="col1">Nombre total d'actions possedées</td>
        <td><strong>{S_TOTAL_STOCK}</strong></td>
    </tr>
    <tr>
        <td class="col1">Pourcentage de Capital</td>
        <td><strong>{S_PERCENT_SHARE} %</strong></td>
    </tr>
    <tr>
        <td class="col1">Nombre de membres dans le groupe Avocats</td>
        <td><strong>{S_TOTAL_AVOCAT}</strong></td>
    </tr>
</table>


    <!-- IF .pagination -->
    <div class="pagination top-pagination">
        <!-- INCLUDE pagination.html -->
    </div>
    <!-- ENDIF -->


<br/>
    <table class="table1 fixed-width-table">
        <thead>
        <tr>
            <th>{L_ACP_HOLDERS_USERNAME_TITLE}</th>
            <th>{L_ACP_HOLDERS_STOCK_COUNT}</th>
            <th>{L_ACP_HOLDERS_F1}</th>
            <th>{L_ACP_HOLDERS_F2}</th>
            <th>{L_ACP_HOLDERS_F3}</th>
            <th>{L_ACP_HOLDERS_F4}</th>
            <th>{L_ACP_HOLDERS_F5}</th>
            <th>{L_ACP_HOLDERS_TOTAL_DIFF}</th>
            <th>{L_ACP_HOLDERS_DATE_LAST_EDITION}</th>
            <th  style="text-align: center;">Avocats</th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN holders -->
        <!-- IF holders.S_ROW_COUNT is even -->
        <tr class="row1"><!-- ELSE -->
        <tr class="row2"><!-- ENDIF -->
            <td class="col1"><strong>{holders.USER_NAME}</strong></td>
            <td>{holders.STOCK_COUNT}</td>
            <td>{holders.STOCK_F1_COUNT}</td>
            <td>{holders.STOCK_F2_COUNT}</td>
            <td>{holders.STOCK_F3_COUNT}</td>
            <td>{holders.STOCK_F4_COUNT}</td>
            <td>{holders.STOCK_F5_COUNT}</td>
            <td>{holders.STOCK_TOTAL_DIFF}</td>
            <td>{holders.STOCK_LAST_EDITED}</td>
            <td style="text-align: center;">{holders.STOCK_AVOCATS}</td>
        </tr>
        <!-- END holders -->
        </tbody>
    </table>

<form id="acp_holders" method="post" action="{U_ACTION}">
    <fieldset class="display-options">(Tri non encore actif)
        {L_SORT_BY}{L_COLON} {S_SORT_KEY} {S_SORT_DIR}
        <select id="sort_type">
            <option value="pseudo">{L_ACP_HOLDERS_USERNAME_TITLE}</option>
            <option value="nbactions">{L_ACP_HOLDERS_STOCK_COUNT}</option>
            <option value="ami1">{L_ACP_HOLDERS_F1}</option>
            <option value="ami2">{L_ACP_HOLDERS_F2}</option>
            <option value="ami3">{L_ACP_HOLDERS_F3}</option>
            <option value="ami4">{L_ACP_HOLDERS_F4}</option>
            <option value="ami5">{L_ACP_HOLDERS_F5}</option>
            <option value="difference">{L_ACP_HOLDERS_TOTAL_DIFF}</option>
            <option value="lastedited">{L_ACP_HOLDERS_DATE_LAST_EDITION}</option>
        </select>
        <input class="button2" type="submit" value="{L_GO}" name="sort" />
    </fieldset>

    <hr />
    <!-- IF .pagination -->
    <div class="pagination">
        <!-- INCLUDE pagination.html -->
    </div>
</form>
<!-- ENDIF -->

<p>La coche verte en fin de tableau signifie que cet utilisateur est membre du groupe "Avocats"</p>


<!-- INCLUDE overall_footer.html -->