<!-- INCLUDE overall_header.html -->

<h1>{L_ACP_EXT_TITLE}</h1>

<form id="acp_board" method="post" action="{U_ACTION}">

	<fieldset>
		<legend>{L_SETTINGS}</legend>
		<dl>
			<dt><label for="acp_pharm_activate_extension">{L_ACP_ACTIVATE_EXTENSION}{L_COLON}</label></dt>
			<dd>
                <label><input type="radio" class="radio" name="acp_pharm_activate_extension" value="1" <!-- IF S_ACP_PHARM_ACTIVATE_EXTENSION -->checked="checked"<!-- ENDIF -->/> {L_YES}</label>
				<label><input type="radio" class="radio" name="acp_pharm_activate_extension" value="0" <!-- IF not S_ACP_PHARM_ACTIVATE_EXTENSION -->checked="checked"<!-- ENDIF --> /> {L_NO}</label>
            </dd>
		</dl>

        <dl>
            <dt><label for="acp_pharm_total_stock_available">{L_ACP_TOTAL_PHARMING_MARKET_STOCKS}{L_COLON}</label><br/>
                <span style="font-size:1em; font-style: italic;">{L_ACP_EXPLAIN_STOCK_TOTAL}</span>
            </dt>
            <dd>
                <input type="text" id="acp_pharm_total_stock_available" size="10" maxlength="10" name="acp_pharm_total_stock_available" value="{S_ACP_PHARM_TOTAL_STOCK_AVAILABLE}">
            </dd>
        </dl>
	</fieldset>

    <fieldset>
        <legend>{L_ACP_GRAPHICAL_OPTIONS}</legend>
        <dl>
            <dt><label for="acp_pharm_display_banner">{L_ACP_DISPLAY_BANNER}{L_COLON}</label><br/>
                <span style="font-size:1em; font-style: italic;">{L_ACP_EXPLAIN_DISPLAY_BANNER}</span>
            </dt>
            <dd>
                <label><input type="radio" class="radio" name="acp_pharm_display_banner" value="1" <!-- IF S_ACP_PHARM_DISPLAY_BANNER -->checked="checked"<!-- ENDIF -->/> {L_YES}</label>
                <label><input type="radio" class="radio" name="acp_pharm_display_banner" value="0" <!-- IF not S_ACP_PHARM_DISPLAY_BANNER -->checked="checked"<!-- ENDIF --> /> {L_NO}</label>
            </dd>
        </dl>

        <dl>
            <dt><label for="acp_pharm_display_banner">{L_ACP_BANNER_REFRESH_DELAY}{L_COLON}</label><br/>
                <span style="font-size:1em; font-style: italic;">{L_ACP_EXPLAIN_BANNER_REFRESH_DELAY}</span>
            </dt>
            <dd>
                <input type="text" id="acp_pharm_banner_refresh_delay" size="10" maxlength="10" name="acp_pharm_banner_refresh_delay" value="{S_ACP_PHARM_BANNER_REFRESH_DELAY}">
            </dd>
        </dl>

    </fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="submit" name="preview" value="{L_PREVIEW}" />
		{S_FORM_TOKEN}
	</fieldset>

	<div>
		<p style="font-size:1em;">{L_ACP_CREDITS_JACK1} - (c) Jack Lestrohan - 2018 - {L_ACP_CREDITS_ALL_RIGHTS_RESERVED}<br/>
            {L_ACP_CREDITS_SPECIALLY_CREATED}</p>
		<p style="font-size:1em;">Pour toute question merci d'utiliser le chat ou me contacter directement sur <a href="mailto:eez0309@gmail.com">mon mail.</a></p>
	</div>
</form>

<!-- INCLUDE overall_footer.html -->
