<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}">
<h2>{L_SETTINGS}</h2>

	<p style="font-size:1em; font-style: italic;">{L_UCP_EXPLAIN_MODULE}</p>
	<div class="panel">
		<div class="inner">
			<fieldset>
				<dl>
					<dt><label for="user_ownpharm0">{L_UCP_PHARM_OWNED}{L_COLON}</label><br/>
					<span style="font-size:1em; font-style: italic;">{L_UCP_PHARM_OWNED_EXPLAIN}</span></dt>
					<dd><label for="user_ownpharm1"><input type="radio" name="user_ownpharm" id="user_ownpharm1" value="1"<!-- IF S_USER_OWNPHARM --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
						<label for="user_ownpharm0"><input type="radio" name="user_ownpharm" id="user_ownpharm0" value="0"<!-- IF not S_USER_OWNPHARM --> checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
				</dl>
				<hr/>
				<dl>
					<dt><label for="user_pharm_countowned">{L_UCP_PHARM_NUMBER_OWNED}{L_COLON}</label><br>
					<span style="font-size:1em; font-style: italic;">{L_UCP_PHARM_NUMBER_OWNED_EXPLAIN}</span></dt>
					<dd>
						<input type="text" id="user_pharm_countowned" size="12" maxlength="9" name="user_pharm_countowned" value="{S_USER_PHARM_COUNTOWNED}">
					</dd>
				</dl>
				<hr/>
				<dl>
					<dt><label for="user_pharm_countfriend1">{L_UCP_PHARM_NUMBER_FRIEND1}{L_COLON}</label><br>
					<span style="font-size:1em; font-style: italic;">{L_UCP_PHARM_NUMBER_FRIEND_EXPLAIN}</span></dt>
					<dd>
						<input type="text" id="user_pharm_countfriend1" size="12" maxlength="9" name="user_pharm_countfriend1" value="{S_USER_PHARM_COUNTFRIEND1}">
					</dd>
				</dl>
				<dl>
					<dt><label for="user_pharm_namefriend1">Nom{L_COLON}</label><br></dt>
					<dd>
						<input type="text" id="user_pharm_namefriend1" size="32" maxlength="50" name="user_pharm_namefriend1" value="{S_USER_PHARM_NAMEFRIEND1}">
					</dd>
				</dl>
				<hr/>
				<dl>
					<dt><label for="user_pharm_countfriend2">{L_UCP_PHARM_NUMBER_FRIEND2}{L_COLON}</label><br>
						<span style="font-size:1em; font-style: italic;">{L_UCP_PHARM_NUMBER_FRIEND_EXPLAIN}</span>
					</dt>
					<dd>
						<input type="text" id="user_pharm_countfriend2" size="12" maxlength="9" name="user_pharm_countfriend2" value="{S_USER_PHARM_COUNTFRIEND2}">
					</dd>
				</dl>
				<dl>
					<dt><label for="user_pharm_namefriend2">Nom{L_COLON}</label><br></dt>
					<dd>
						<input type="text" id="user_pharm_namefriend2" size="32" maxlength="50" name="user_pharm_namefriend2" value="{S_USER_PHARM_NAMEFRIEND2}">
					</dd>
				</dl>
				<hr/>
				<dl>
					<dt><label for="user_pharm_countfriend3">{L_UCP_PHARM_NUMBER_FRIEND3}{L_COLON}</label><br>
						<span style="font-size:1em; font-style: italic;">{L_UCP_PHARM_NUMBER_FRIEND_EXPLAIN}</span>
					</dt>
					<dd>
						<input type="text" id="user_pharm_countfriend3" size="12" maxlength="9" name="user_pharm_countfriend3" value="{S_USER_PHARM_COUNTFRIEND3}">
					</dd>
				</dl>
				<dl>
					<dt><label for="user_pharm_namefriend3">Nom{L_COLON}</label><br></dt>
					<dd>
						<input type="text" id="user_pharm_namefriend3" size="32" maxlength="50" name="user_pharm_namefriend3" value="{S_USER_PHARM_NAMEFRIEND3}">
					</dd>
				</dl>
				<hr/>
				<dl>
					<dt><label for="user_pharm_countfriend4">{L_UCP_PHARM_NUMBER_FRIEND4}{L_COLON}</label><br>
						<span style="font-size:1em; font-style: italic;">{L_UCP_PHARM_NUMBER_FRIEND_EXPLAIN}</span>
					</dt>
					<dd>
						<input type="text" id="user_pharm_countfriend4" size="12" maxlength="9" name="user_pharm_countfriend4" value="{S_USER_PHARM_COUNTFRIEND4}">
					</dd>
				</dl>
				<dl>
					<dt><label for="user_pharm_namefriend4">Nom{L_COLON}</label><br></dt>
					<dd>
						<input type="text" id="user_pharm_namefriend4" size="32" maxlength="50" name="user_pharm_namefriend4" value="{S_USER_PHARM_NAMEFRIEND4}">
					</dd>
				</dl>
				<hr/>
				<dl>
					<dt><label for="user_pharm_countfriend5">{L_UCP_PHARM_NUMBER_FRIEND5}{L_COLON}</label><br>
						<span style="font-size:1em; font-style: italic;">{L_UCP_PHARM_NUMBER_FRIEND_EXPLAIN}</span>
					</dt>
					<dd>
						<input type="text" id="user_pharm_countfriend5" size="12" maxlength="9" name="user_pharm_countfriend5" value="{S_USER_PHARM_COUNTFRIEND5}">
					</dd>
				</dl>
				<dl>
					<dt><label for="user_pharm_namefriend5">Nom{L_COLON}</label><br></dt>
					<dd>
						<input type="text" id="user_pharm_namefriend5" size="32" maxlength="50" name="user_pharm_namefriend5" value="{S_USER_PHARM_NAMEFRIEND5}">
					</dd>
				</dl>
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
				<input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
		</dl>
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->
